.DS_Store
.ipynb_checkpoints
.vscode

labels/*.txt
images
baseline_predictions
baseline_prediction_samples
net_occlusion_heatmaps
net_occlusion_heatmaps_delta_prob
occluded_image_predictions
occluded_images
occlusion_heatmaps