.DS_Store
.ipynb_checkpoints
.vscode

data
acts
cavs
labels/*.txt
images
baseline_predictions
baseline_prediction_samples
bottleneck_activations
cosine_similarities
net_heatmap_predictions
net_occlusion_heatmaps
net_occlusion_heatmaps_delta_prob
occluded_image_predictions
occluded_images
occlusion_heatmaps
pca_acts
superpixels
test_images